* {
    margin: 0;
    border: 0;
    padding: 0;
}

body { 
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    margin: 30px 230px 30px 230px;
    
}

header img {
    width: 90.6px;
    height: 26.9px;
    margin-right: 110px;
    min-width: auto;
}

.links a{
    text-decoration: none;
    color: #111111;
    margin-right: 25px;
}

.links a:hover {
    color: #777777;
}

/* IMAGENS */

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    row-gap: 25px;
    margin: 0 230px 0 230px;
}

.images img {
    border-radius: 15px;
    max-width: 300px;
    max-height: 140px;
    margin-bottom: 15px;
}

.images p {
    font-size: 18px;
    line-height: 21px;
}

#autor {
    font-size: 16px;
    color: #777777;
}

/* FOOTER */

footer {
    display: grid;
    margin-top: 40px;
    background-color: #EEEEEE;
    width: 100%;
    height: 62px;
}

footer p {
    color: #999999;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    margin-top: 25px;
}

.modal-overlay {   
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
} 

.modal {
    background-color: #FFFFFF;
    opacity: 100%;
    width: 660px;
    height: 413px;
    border-radius: 16px;
    margin: 20vh auto;
}

/* .modal-close a{
   color: #999999;
   font-size: 16px;
   line-height: 19px;
   text-decoration: none;
   text-align: center;
} */